.container {
  padding: 20px 0px;
  overflow: hidden; /* dropdown bayatiki expand avvadaniki */
}

.copyButton{
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 18px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.select {
  padding: 8px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #000000;
  max-height: 200px;
  overflow-y: auto;  /* scroll enable */
  position: relative;
}


.heading {
  font-size: 22px;
  margin-bottom: 15px;
  color: #000000;
}


.loading {
  font-size: 16px;
  color: #666;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0);
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  font-weight: bold;
}

.controls {
  display: flex;
  gap: 10px;
}

.search {
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
  font-size: 24px;
  color: #000000;
  height: 15px;
  padding-inline: 25px;
}
