.dataentry-toplink {
  text-decoration: none;
  color: #334155;
  gap: 4px;
  font-weight: 500;
  padding: 0px 15px 25px 15px;
  border-radius: 6px;
  background-color: #ffffff00;
}

.dataentry-toplink:hover {
    background-color: #07598500;
  color: #c94c4c;
}

.dataentry-toplink.active {
  color: #ed5858;
}
