.dataentry-toplink {
  text-decoration: none;
  color: #334155;
  gap: 4px;
  font-weight: 500;
  padding: 10px 10px;
  border-radius: 6px;
  background-color: #ffffff00;
}

.dataentry-toplink:hover {
    background-color: #07598500;
  color: #4c9bc9;
}

.dataentry-toplink.active {
  color: #a4d6f1;
}
