.dashboard-navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #1e1e1e;
  color: rgb(251, 81, 81);
}

.dashboard-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 20px;
}

.dashboard-search {
  flex: 1;
  display: flex;
  justify-content: end;
}

.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.brand-img{
  width: 50px;
}
